<ul>
	{%- assign  current_handle= collection.handle -%}
	{%- for collection in collections -%}
    <li{% if current_handle != blank and current_handle == collection.handle %} class="active" {% endif %} >
		{%- if collection.image -%}
			{%- assign collection_image = collection.image -%}
		{%- elsif collection.products.first and collection.products.first.images != empty -%}
			{%- assign collection_image = collection.products.first.featured_image -%}
		{%- else -%}
			{%- assign collection_image = blank -%}
		{%- endif -%}
		<a href="{{ collection.url }}">
			<label class="name">{{ collection.title }}</label>
			{%- if show_count -%}
				<div class="count">{{ collection.products_count }}</div>
			{%- endif -%}
		</a>
    </li>
	{%- endfor -%}
</ul>