{%- if settings.product_within_collection -%}
	{%- assign product_url = product.url | within: collection -%}
{%- else -%}
	{%- assign product_url = product.url -%}
{%- endif -%}
{%- assign featured_image 		= product.featured_media.preview_image %}
{%- assign img_url 				= featured_image | img_url: '600x' -%}

{% if featured_image.src == blank %}
<a class="product-card__image-link" href="{{ product_url }}">
	<img class="product-card__image lazyload fade-in" src="https://placehold.jp/450x540.png" alt="{{ featured_image.alt | escape }}">
</a>
{% else %}
	<div class="product-card__image js-carousel slick-carousel" data-columns="1"
						data-column1440="1"
						data-column1="1"
						data-column2="1"
						data-column3="1"
						data-column4="1" data-nav="true" data-draggable="true">
		{%- for media in product.media -%}
			<a class="product-card__image-link" href="{{ product_url }}">
				{% if forloop.first %}
					{% render 'img-global-product' with image: media, class: "product-card__img-visible variant", effect: "fade-in" %}
				{% else %}
					{% render 'img-global-product' with image: media, class: "product-card__img-visible", effect: "fade-in" %}
				{% endif %}
			</a>
		{%- endfor -%}
	</div>
{% endif %}

