@font-face {
  font-family: 'bwpfont';
  src:  url('./bwpfont.eot?1ywcn3');
  src:  url('./bwpfont.eot?1ywcn3#iefix') format('embedded-opentype'),
    url('./bwpfont.ttf?1ywcn3') format('truetype'),
    url('./bwpfont.woff?1ywcn3') format('woff'),
    url('./bwpfont.svg?1ywcn3#bwpfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bwp-icon-"], [class*="bwp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bwpfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bwp-icon-ruler:before {
  content: "\e93a";
}
.bwp-icon-menu:before {
  content: "\e93b";
}
.bwp-icon-chat:before {
  content: "\e93c";
}
.bwp-icon-shipping:before {
  content: "\e939";
}
.bwp-icon-next:before {
  content: "\e938";
}
.bwp-icon-gift .path1:before {
  content: "\e92b";
  color: rgb(255, 211, 138);
}
.bwp-icon-gift .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 211, 138);
}
.bwp-icon-gift .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 164, 66);
}
.bwp-icon-gift .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 191, 84);
}
.bwp-icon-gift .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 164, 66);
}
.bwp-icon-gift .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(209, 56, 46);
}
.bwp-icon-gift .path7:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(245, 56, 39);
}
.bwp-icon-gift .path8:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(245, 56, 39);
}
.bwp-icon-gift .path9:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(252, 81, 50);
}
.bwp-icon-gift .path10:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 211, 138);
}
.bwp-icon-gift .path11:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 191, 84);
}
.bwp-icon-gift .path12:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 191, 84);
}
.bwp-icon-gift .path13:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 211, 138);
}
.bwp-icon-short:before {
  content: "\e92a";
}
.bwp-icon-filter:before {
  content: "\e929";
}
.bwp-icon-plus-bold:before {
  content: "\e927";
}
.bwp-icon-minus-bold:before {
  content: "\e928";
}
.bwp-icon-minus:before {
  content: "\e926";
}
.bwp-icon-plus:before {
  content: "\e925";
}
.bwp-icon-up:before {
  content: "\e924";
}
.bwp-icon-estimated_delivery:before {
  content: "\e923";
}
.bwp-icon-package:before {
  content: "\e922";
}
.bwp-icon-percent:before {
  content: "\e921";
}
.bwp-icon-out-stock:before {
  content: "\e920";
}
.bwp-icon-compare:before {
  content: "\e91f";
}
.bwp-icon-quick-view:before {
  content: "\e91a";
}
.bwp-icon-search:before {
  content: "\e91b";
}
.bwp-icon-account:before {
  content: "\e91c";
}
.bwp-icon-cart1:before {
  content: "\e91d";
}
.bwp-icon-heart:before {
  content: "\e91e";
}
.bwp-icon-in-stock:before {
  content: "\e919";
}
.bwp-icon-rating:before {
  content: "\e918";
}
.bwp-icon-right-arrow1:before {
  content: "\e917";
}
.bwp-icon-favourites-filled-star-symbol:before {
  content: "\e90a";
}
.bwp-icon-wardrobe:before {
  content: "\e90c";
}
.bwp-icon-closet:before {
  content: "\e90d";
}
.bwp-icon-table-1:before {
  content: "\e90e";
}
.bwp-icon-armchair:before {
  content: "\e90f";
}
.bwp-icon-office:before {
  content: "\e910";
}
.bwp-icon-home-theater:before {
  content: "\e911";
}
.bwp-icon-lamp:before {
  content: "\e912";
}
.bwp-icon-table:before {
  content: "\e913";
}
.bwp-icon-chair:before {
  content: "\e914";
}
.bwp-icon-bath:before {
  content: "\e915";
}
.bwp-icon-sofa:before {
  content: "\e916";
}
.bwp-icon-location:before {
  content: "\e90b";
}
.bwp-icon-left-arrow:before {
  content: "\e908";
}
.bwp-icon-right-arrow:before {
  content: "\e909";
}
.bwp-icon-straight-quotes:before {
  content: "\e907";
}
.bwp-icon-email:before {
  content: "\e900";
}
.bwp-icon-pin:before {
  content: "\e901";
}
.bwp-icon-cart:before {
  content: "\e902";
}
.bwp-icon-envelope:before {
  content: "\e903";
}
.bwp-icon-magnifiying-glass:before {
  content: "\e904";
}
.bwp-icon-star:before {
  content: "\e905";
}
.bwp-icon-user:before {
  content: "\e906";
}
