@font-face{
  font-family:icomoon;
  src:	url(./icomoon.eot?fzv6fp);
  src:	url(./icomoon.eot?fzv6fp#iefix) format("embedded-opentype"),
		url(./icomoon.ttf?fzv6fp) format("truetype"),
		url(./icomoon.woff?fzv6fp) format("woff"),
		url(./icomoon.svg?fzv6fp#icomoon) format("svg");
  font-weight:400;
  font-style:normal;
  font-display:block;
}

[class*=" icon-"],[class^=icon-]{
  font-family:icomoon;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.icon-skincare:before {
  content: "\e902";
}
.icon-sale:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e904";
}
