@import '//cdn.shopify.com/s/files/1/0654/7551/0525/t/3/assets/bootstrap.min.css?v=5904063945533469981665222677';
@import '//cdn.shopify.com/s/files/1/0654/7551/0525/t/3/assets/vendor.css?v=47836527358302727901665222711';@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?&hmac=7c8e263fe2355f184f9f033776a41f991a9f877439e2361a40bcab3fa6a28a2e") format("woff2"),
       url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?&hmac=9c91b49b77562452f6af329780351311e9c9ad3f203a6f0c0fad9a35636aaee1") format("woff");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?&hmac=7c8e263fe2355f184f9f033776a41f991a9f877439e2361a40bcab3fa6a28a2e") format("woff2"),
       url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?&hmac=9c91b49b77562452f6af329780351311e9c9ad3f203a6f0c0fad9a35636aaee1") format("woff");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n7.ba75738508cdf6cb75183ab984567749245418ef.woff2?&hmac=44e9e7d5a27bc401a4f02deff47af934cd944981742dd074a143a5d8d9e2e62b") format("woff2"),
       url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n7.a2c4634c9b4e7a4bf49a23a7b0a2f41d6afbfc1a.woff?&hmac=4293bf1698cae46fad1a8dc55cac7e3f22e30b15ae66e8250fd1d44ac3751608") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_i4.56d7623f5d1535347250bd4064e39a4fbc2d9d33.woff2?&hmac=30f1f9d11d1374fbd7c0ed7f8807d211d27dd227a55cddf103db656b1508310b") format("woff2"),
       url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_i4.cab7f3811c289dea6945e14f3d5f449dc3b667b2.woff?&hmac=548149490647d637645e0a10d5222af33bc5c495e14c5c6174cb5ab3ef3e7e1f") format("woff");
}

  @font-face {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-style: italic;
  src: url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_i7.bbab84b25bea8fdcfe26448c5bd6848af03f4dc2.woff2?&hmac=454cd8535549764d195a96581763ff79c73c0d6dd6aec131d28d21b5fc0c0991") format("woff2"),
       url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_i7.a8b1f643db12e4a272a3dc0436972db610244801.woff?&hmac=3c55134118cb80b5a1a931cf21ae39abdc9bfb1dd9c08776d5e100b49cc73c2f") format("woff");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n7.ba75738508cdf6cb75183ab984567749245418ef.woff2?&hmac=44e9e7d5a27bc401a4f02deff47af934cd944981742dd074a143a5d8d9e2e62b") format("woff2"),
       url("https://fonts.shopifycdn.com/josefin_sans/josefinsans_n7.a2c4634c9b4e7a4bf49a23a7b0a2f41d6afbfc1a.woff?&hmac=4293bf1698cae46fad1a8dc55cac7e3f22e30b15ae66e8250fd1d44ac3751608") format("woff");
}



$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f00;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;
$gray: #6c757d;
$gray-dark: #343a40;
$nocolor: transparent;
$error: #dc3545;
$shadow: 0px 6px 15px rgba(0, 0, 0, .12);

$theme-color: #617559;
$secondary: #a0a0a0;
$text-color: #868686;
$body-bg: #ffffff;
$border-color: #e7e7e7;

$header-color: #1f2021;
$header-bg: #ffffff;
$footer-color: #6d6d6d;

$menu-bg: #ffffff;
$menu-color: #000000;
$menu-hover-color: #617559;
$menu-dropdown-bg: #ffffff;
$menu-dropdown-color: #868686;
$menu-dropdown-hover-color: #1f2021;
$menu-dropdown-shadow: $shadow;


	$font-family-second: Quattrocento;

$heading-font-weight: 400;
$heading-font-weight-bold: 700;
$heading-font-weight-medium: 500;
$heading-font-style: normal;
$heading-font-size: 30px;

  $heading-bg-image: none;



	$font-family-base: Prompt;

$body-font-weight: 400;
$body-font-weight-bold: 700;
$body-font-style: normal;
$font-size-base: 14px;

$font-family: $font-family-base;
$font-size: $font-size-base;
$text-color: $text-color;
$color-blankstate: rgba($text-color, .35);
$color-blankstate-background: rgba($text-color, .10);
$sold-out: #d62122;
$star-empty-color: #444;
$star-color: #f7bc3d;
$qoutations-color: rgba(237, 29, 36, .1);
$toast-error-bg: #ff3547;
$overlay-black: rgba(0, 0, 0, .4);
$overlay-white: rgba(255, 255, 255, .4);

$password-color: #fff;
$password-bg: #444;

$font-icon: 'FontAwesome';

$gutter-width: 30px;

// OVERRIDE BOOTSTRAP
body {
  color: $text-color;
  background-color: $body-bg;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-second;
  font-weight: $heading-font-weight-bold;
}

a {
  &:hover,
  &:focus {
    outline: 0;
  }
}

.container {
  @media (min-width: 768px) {
    max-width: 100%;
  }

  @media (min-width: 1550px) {
    max-width: 1530px;
  }

  @media (min-width: 1200px) {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}

.container-fluid {
  @media (min-width: 1200px) {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}

.btn {
  display: block;
  padding: 10px 30px;
  border-radius: 0;
  font-family: $font-family-second;
  font-size: $font-size;
  font-weight: $heading-font-weight-medium;
  text-transform: uppercase;
  transition: all .3s ease;
}

.btn-primary {
  color: $white;
  background-color: $theme-color;
  border: 1px solid $theme-color;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background-color: darken($theme-color, 5%);
    border-color: darken($theme-color, 5%);
  }
}

.btn-secondary {
  color: $gray-dark;
  background-color: $white;
  border: 1px solid $border-color;

  &:hover,
  &:active,
  &:focus {
    color: $gray-dark;
    background-color: $border-color;
    border-color: $border-color;
  }
}

.form-control {
  height: 44px;
  border-radius: 0;
  padding: 11px 20px 12px;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 20px;

  &:focus {
    border-color: $gray-dark;
    box-shadow: none;
  }
}

.table {
  color: $text-color;
}

.alert {
  border-radius: 0;
}

// HEADER LOGO

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo__link {
  display: block;
}

.header-logo__link--text {
  color: $header-color;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $header-color;
    text-decoration: none;
  }
}

.header-logo__img {
  display: block;
}

.template-password {
  height: 100vh;
}

.password-page__container {
  width: 100%;
  height: 100%;
}

.password-page__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  color: $password-color;
  background-color: $password-bg;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.password-page__header,
.password-page__main,
.password-page__footer {
  width: 100%;
}

.password-login {
  margin: 0 0 50px;
  text-align: right;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.password-login__link {
  color: $password-color;
  font-size: $font-size - 1;
  font-weight: bold;
  text-transform: uppercase;
  transition: color .3s ease;

  .fa {
    margin-right: 4px;
  }

  &:hover {
    color: $theme-color;
    text-decoration: none;
  }
}

.password-page__main-inner {
  padding: 15px 0;
}

.password-page__hero {
  margin: 0 0 0.6em;
  font-family: $font-family-second;
  font-size: 4em;
  font-weight: $heading-font-weight-bold;
  line-height: 1.25;
}

.password-page__signup-form-heading {
  margin: 0 0 0.5em;
  font-weight: $heading-font-weight-medium;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.password-page__signup-form-subheading {
  font-style: italic;
}

.password-page__signup-form {
  max-width: 440px;
  margin: 0 auto;

  .form-group {
    position: relative;
    display: flex;
    padding: 20px 0 40px;
  }

  .form-group__input {
    border: none;
  }

  .form-group__btn {
    padding: 12px 30px;
    color: $white;
    background-color: $black;
    border: none;
    line-height: 20px;
  }
}

.password-page__signup-form-heading {
  font-family: $font-family-second;
  font-weight: $heading-font-weight-medium;
}

.social-sharing {
  padding: 5px 0 15px;

  a {
    display: inline-block;
    color: $white;
    border-radius: 2px;
    margin: 0 20px 0 0;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
  }

  span {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    font-size: $font-size - 2;
  }

  .fa {
    padding: 0 5px 0 0;
    font-size: $font-size;

    &:before {
      line-height: 22px;
    }
  }
}

.password-page__footer_inner {
  padding: 30px 0;
  font-size: 95%;
  line-height: 24px;
}

.shopify-logo-svg {
  width: 82.28571px;
  height: 24px;
  display: inline-block;
  line-height: 0;
  fill: currentColor;
  vertical-align: top;
}

.shopify-name {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.password-page__login-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  color: $text-color;
  background-color: $body-bg;
  opacity: 0;
  visibility: hidden;
  transition: all .3s cubic-bezier(0.46, 0.01, 0.32, 1);

  .h4 {
    margin: 0 0 25px;
    color: $gray-dark;
    font-weight: $heading-font-weight-medium;
    text-transform: uppercase;
  }

  .text-link {
    color: $theme-color;
  }

  .form-group__input {
    background-color: lighten($border-color, 3%);
  }
}

.password-page__login-form-inner {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  .form-group {
    padding: 0 0 20px;
  }
}

.errors {
  margin: 0 0 20px;
  padding: 10px 15px;
  color: $error;
  border: 1px solid $error;
  background-color: rgba($error, .1);

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;

    li {
      padding: 2px 0;
    }
  }
}

.password-page__login-form-close {
  position: absolute;
  top: 30px;
  right: 50px;
  display: block;
  color: $gray-dark;
  width: 44px;
  height: 44px;
  padding: 5px;
  transition: color .3s ease;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  &:hover {
    color: $theme-color;
  }
}

.login-modal--open {
  .password-page__login-form {
    opacity: 1;
    visibility: visible;
  }
}
