{% section 'page-breadcrumb' %}
<section class="page-faqs">
	<div class="container">
		<div class="page__inner">
			<div class="page__content">
				<div class="rte">
					{{ page.content }}
				</div>
				{% section 'faq-template' %}
			</div>
		</div>
	</div>
</section>
